html{
    background-color: rgb(171, 112, 255);
}

.sujet{
  margin: 1%;
}

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .card {
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    display: inline-block;
    margin-top: 1% ;
    margin-left:1vw ;
    margin-right:1vw ;
  }
  
  
  .card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 300px;
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
    background-color: #572eb8;
  }
  
  .card-title {
    margin-top: 0;
    font-size: 24px;
    color: #ffffff;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,i{
    font-family: Arial;
    color: white;
  }
  
  .card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-btn {
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .card-expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
  }
  
  .card-expanded .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
  }
  
  .card-expanded .card-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .card-expanded .card-content img {
   
  
    max-width: 100%;
    margin-bottom: 1rem;
  }
  
  .card-expanded-image img{
    max-width: 60vw;
    max-height: 60vh;
    margin-left: 2vw;

  }

  .card-expanded .card-content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }margin
  
  .card-expanded .card-content .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
i {
    font-size: 5vw;
    margin: 0 0.5rem;
  }
  
  .card-expanded .card-content .close-btn {
    align-self: flex-end;
    font-size: 1.5rem;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .close-btn{
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 1vh;
  }
  
.card-expanded-text{
  margin: 2%;
  margin-right: 2.5%;
  font-size: 1.5vw;
}



@media screen and (max-width: 490px){
  .card {
      margin-left: 10vw;
      margin-right: 10vw;
  }
}