.sujet {
  margin: 1%;
}

.cards{
  display: flex;
  flex-direction:row ;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px;
  margin-top: 1%;
  margin-left: 1vw;
  margin-right: 1vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
}

.content .card-btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #29b0f8 0%, #8f0fff 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before  {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #29b0f8 0%, #770fff 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover p.heading {
  color: white; /* Changez "white" à la couleur blanche souhaitée */
}


.card:hover::before {
  height: 100%;
}

.card:hover {
  box-shadow: none;
}

.card:hover .card-btn {
  color: #212121;
  background: #e8e8e8;
}

.content .card-btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .card-btn:active {
  box-shadow: none;
}


.button {
  color: #5127c2;
}

.button::after {
  background-color: #5127c2;
}

.card-image img {
  width: 100%;
  height: 100%;
  max-height: 330px;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  font-family: Arial;
  color: #5127c2 ;
}

h2.card-expanded-title,
p.card-expanded-text{
  color:white;
}

hr {
  background-color: #5127c2;
  height: 10px; 

}


.card-expanded-title {
  font-size: 5vh;
}




.card-expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
}

.card-expanded .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.card-expanded .card-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.card-expanded .card-content img {


  max-width: 100%;
  margin-bottom: 1rem;
}

.card-expanded-image img {
  max-width: 60vw;
  max-height: 60vh;
  margin-left: 2vw;

}

.card-expanded .card-content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

margin .card-expanded .card-content .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}


.card-expanded .card-content .close-btn {
  align-self: flex-end;
  font-size: 1.5rem;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
}

.close-btn {
  background: linear-gradient(-45deg, #29b0f8 0%, #8f0fff 100% );
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 1vh;
}

.card-expanded-text {
  margin: 2%;
  margin-right: 2.5%;
  font-size: 1.5vw;
}

.fa-download {
  font-size: 1.7vw;
}

.card-expanded-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download-btn {
  background: linear-gradient(-45deg, #29b0f8 0%, #8f0fff 100% );
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 1vh;
  padding: 9px 9px;
}

.svg {
  width: 5vw;
  height: 4vw;
}

#visu {
  padding-left: 5px;
  padding-right: 5px;
}

body {
  background-color: #e5e5f7;
}


@media screen and (max-width: 490px) {
  .card {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media screen and (max-width: 720px) {
  .card-expanded {
    flex-direction: column;
    align-items: center;
  }

  .card-content {
    padding: 20px;
  }

  .card-expanded-text {
    font-size: 2.5vh;
  }

  .svg {
    width: 12vw;
    height: 11vw;
  }

  #calculatriceScreen {
    width: 80%;
    height: 90%;
  }

  .card-expanded-image {
    display: none;
  }
}